

aside {
    
    font-size: 16px;
    background-color: #BBBBBB;
    float: left;
    width: 20%;
    height: 90%;
}

aside ul {
    list-style: none;
}

section {
    background-color: #E0E0E0;
    float: right;
    width: 75%;
    height: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

article {
    background-color: #FFFFFF;
    width: 95%;
    height: 55px;
    line-height: 55px;
    border: 1px solid #777777;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 5px;
}

p {
    width: 80%;
}

h3 {
    line-height: 10px;
}

a {
    text-decoration: none;
}