/* 
    @file: /css/LeftMenu.css
    @author: jho3689@a.ut.ac.kr
    @date: 17/06/20
    @content: css for 'LeftMenu'
*/

#LeftMenu {
    
    position: relative;
    top: 20px;
    left: 10px;
    border: 1px solid black;
    width: 20%;
    
    align-content: left;
}