#mainMenus {
    height: 30px;
    width: 850px;
}

#mainMenus ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#mainMenus ul li {
    
    background-color: #006633; /* mainMenu's background-color */
    color: white;   
    float: left;
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    position: relative;

}

.menuLink, .subMenuLink {
    text-decoration: none;
    display: block;
    width: 150px;
    font-size: 12px;
    font-family: "Lucida Grade", Tahoma, Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.menuLink {
    color: white;
}

.mainMenuLink:hover .menuLink {
    color: blue;
    background-color: greenyellow;
}

.subMenuLink {
    color: gray;
    background-color: white; /* subMenu's background-color */
    border: solid 1px black;
    margin-top: -1px;
}

.longLink {

    width: 190px;

}

.subMenu {
    position: absolute;
    height: 0px;
    overflow: hidden;
    transition: height .2s;
    -webkit-transition:height .2s;
    -moz-transition: height .2s;
    -o-transition: height .2s;

}

.mainMenu:hover .subMenu {
    height: 93px;
}
.subMenu:hover {
    color: red;
    background-color: #dddddd;

}
