/* 
    @file: /css/titleBox.css
    @author: jho3689@a.ut.ac.kr
    @date: 17/06/20
    @content: css for 'titleBox'
*/

#TitleBox {
    position: relative;
    left: 10px;
    top: 10px;  
    
    
    width: 100% - 20px;
    height: 150px;
    border: 1px solid black;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#TitleBox header {
    font-size: 30px;
    font-weight: bold;
}
#TitleBox .description {
    position: absolute;
    left: 2%;
    bottom: 2%;

    width: 40%;
    height: 70px;
    border: 1px solid black;
    padding-top: 5px;
    padding-left: 10px;
    padding-right:10px;
    
    text-overflow: elipsis;
    word-break: break-all;
    font-size: 15px;
}
