/* 
    @file: /css/TopMenu.css
    @author: jho3689@a.ut.ac.kr
    @date: 17/06/20
    @content: css for 'TopMenu'
*/

#TopMenu {
    float:right;
	margin:0px 5px 3px 5px;
	padding:0 0 3px 0;
	box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	-o-box-shadow: 0px 0px 15px rgba(0,0,0,.3);
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color:#5c5c5c;

    top: 170px;
    font-size: 15px;
    
}

.TopMainMenu {
    float: left;
    list-style-type: none;
}